html { background-color: black; } 
body { margin: 50px; background-color: white; height: 500px; overflow:auto}
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?c0dzht');
	src:url('fonts/icomoon.eot?#iefixc0dzht') format('embedded-opentype'),
		url('fonts/icomoon.ttf?c0dzht') format('truetype'),
		url('fonts/icomoon.woff?c0dzht') format('woff'),
		url('fonts/icomoon.svg?c0dzht#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.messages {
  height: 35%;
  background-color: #005BC5;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px; }


.messagescontainer{
	height:70%;
	background-color: white;
	overflow:hidden;
}

.box{
	height:70px;
	
	margin:1px;
	background-color: red;

}


a {
	color:#000;
	display:block;
	font-size:60px;
	height:80px;
	position:relative;
	text-decoration:none;
	text-shadow:0 1px #fff;
	width:80px;
}
#chess_board { border:5px solid #333; }
#chess_board td {
	background:#fff;
	background:-moz-linear-gradient(top, #fff, #eee);
	background:-webkit-gradient(linear,0 0, 0 100%, from(#fff), to(#eee));
	box-shadow:inset 0 0 0 1px #fff;
	-moz-box-shadow:inset 0 0 0 1px #fff;
	-webkit-box-shadow:inset 0 0 0 1px #fff;
	height:80px;
	text-align:center;
	vertical-align:middle;
	width:80px;
}
#chess_board tr:nth-child(odd) td:nth-child(even),
#chess_board tr:nth-child(even) td:nth-child(odd) {
	background:#ccc;
	background:-moz-linear-gradient(top, #ccc, #eee);
	background:-webkit-gradient(linear,0 0, 0 100%, from(#ccc), to(#eee));
	box-shadow:inset 0 0 10px rgba(0,0,0,.4);
	-moz-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
	-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
}

.blank{
	cursor: hand;
    cursor: pointer;

}
.icon-myPiece:before{
	cursor: hand;
    cursor: pointer;

	content: "\e600";
	color: red;
}
.icon-myQueen:before{
	content: "\e601";
	color: red;
	cursor: hand;
    cursor: pointer;
}
.icon-opponent:before{
	content: "\e600";
	color: black;
cursor: hand;
    cursor: pointer;
}
.icon-opponentQueen:before{
	content: "\e601";
	color: black;
	cursor: hand;
    cursor: pointer;
}